@font-face {
  font-family: SantanderLogo;
  src: url('./fonts/SantanderLogo-Regular.otf');
}

@font-face {
  font-family: SantanderLogo;
  font-weight: 300;
  src: url('./fonts/SantanderLogo-Light.otf');
}