@import '../styles/colors.scss';

.meetups {
  padding: 24px;
}

.table {
  border: 0;
  width: 100%;

  thead {
    background-color: $gray-scale-200;

    th {
      vertical-align: top;
      padding: 4px 8px 8px 8px;
      font-size: 12px;
    }
  }

  tbody {
    tr {
      cursor: pointer;
      
      td {
        padding: 4px 8px 8px 8px;
        font-size: 14px;
      }

      td:nth-of-type(3) {
        text-align: right;
      }
    }
  }

 
}