@import '../styles/colors.scss';

.new {
  padding: 24px;
}

.content {
  margin-top: 24px;
}

.formControl {
  display: block;
  margin-bottom: 16px;

  label {
    display: none;
  }
}

.dateControl {
  display: flex;
}

.buttonContainer {
  margin-top: 24px;
}

.invalid {
  border-bottom: 2px solid red;
}

.tick {
  width: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

.link {
  color: $brand-500;
  padding: 4px;
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .content {
    min-width: 400px;
    max-width: 570px;
    margin: 24px auto;
  }

  .formControl {
    display: grid;
    grid-template-columns: 120px 1fr;
    max-width: 500px;

    label {
      width: 100%;
      display: inline-block;
    }
  }
}
